In [9]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%sql postgresql://postgres:root@localhost/sqlda

In [11]:
pg_version=%sql select version()
print(pg_version)

 * postgresql://postgres:***@localhost/sqlda
1 rows affected.
+------------------------------------------------------------+
|                          version                           |
+------------------------------------------------------------+
| PostgreSQL 12.4, compiled by Visual C++ build 1914, 64-bit |
+------------------------------------------------------------+

In [12]:
%sql \dt

 * postgresql://postgres:***@localhost/sqlda
30 rows affected.

[('public', 'bat_emails', 'table', 'postgres'),
 ('public', 'bat_emails_threewks', 'table', 'postgres'),
 ('public', 'bat_ltd_sales', 'table', 'postgres'),
 ('public', 'bat_ltd_sales_count', 'table', 'postgres'),
 ('public', 'bat_ltd_sales_delay', 'table', 'postgres'),
 ('public', 'bat_ltd_sales_growth', 'table', 'postgres'),
 ('public', 'bat_ltd_sales_vol', 'table', 'postgres'),
 ('public', 'bat_sales', 'table', 'postgres'),
 ('public', 'bat_sales_daily', 'table', 'postgres'),
 ('public', 'bat_sales_daily_delay', 'table', 'postgres'),
 ('public', 'bat_sales_delay_vol', 'table', 'postgres'),
 ('public', 'bat_sales_growth', 'table', 'postgres'),
 ('public', 'closest_dealerships', 'table', 'postgres'),
 ('public', 'countries', 'table', 'postgres'),
 ('public', 'customer_sales', 'table', 'postgres'),
 ('public', 'customer_survey', 'table', 'postgres'),
 ('public', 'customers', 'table', 'postgres'),
 ('public', 'dealerships', 'table', 'postgres'),
 ('public', 'emails', 'table', 'postgres'),
 ('public', 'lemon_sales_count', 'table', 'postgres'),
 ('public', 'lemon_sales_delay', 'table', 'postgres'),
 ('public', 'lemon_sales_growth', 'table', 'postgres'),
 ('public', 'lemon_sales_sum', 'table', 'postgres'),
 ('public', 'product_names', 'table', 'postgres'),
 ('public', 'products', 'table', 'postgres'),
 ('public', 'products_sales', 'table', 'postgres'),
 ('public', 'public_transportation_by_zip', 'table', 'postgres'),
 ('public', 'sales', 'table', 'postgres'),
 ('public', 'salespeople', 'table', 'postgres'),
 ('public', 'top_cities_data', 'table', 'postgres')]

#### Analyzing the Performance of the Email Marketing Campaign

We will investigate the performance of the email marketing campaign
for the Lemon Scooter to allow for a comparison with the Bat Scooter. Our hypothesis
is that if the email marketing campaign performance of the Bat Scooter is consistent
with another, such as the 2013 Lemon, then the reduction in sales cannot be attributed
to differences in the email campaigns.

* Drop the existing lemon_sales table

In [8]:
%%sql
DROP TABLE lemon_sales;

 * postgresql://postgres:***@localhost/sqlda
Done.

[]

* The 2013 Lemon Scooter is product_id = 3. Select customer_id and sales_
transaction_date from the sales table for the 2013 Lemon Scooter. 
Insert the information into a table called **lemon_sales**

In [13]:
%%sql
SELECT customer_id, sales_transaction_date 
INTO lemon_sales 
FROM sales WHERE product_id=3;

 * postgresql://postgres:***@localhost/sqlda
16558 rows affected.

[]

* Select all information from the emails database for customers who purchased a
2013 Lemon Scooter. Place the information in a new table called **lemon_emails**

In [14]:
%%sql
SELECT emails.customer_id, emails.email_subject, emails.opened,
emails.sent_date, emails.opened_date, lemon_sales.sales_transaction_date
INTO lemon_emails 
FROM emails 
INNER JOIN lemon_sales 
ON emails.customer_id=lemon_sales.customer_id;

 * postgresql://postgres:***@localhost/sqlda
130284 rows affected.

[]

* Remove all emails sent before the **start of production** of the 2013 Lemon Scooter.
For this, we first require the date when production started

In [15]:
%%sql
SELECT production_start_date FROM products Where product_id=3;

 * postgresql://postgres:***@localhost/sqlda
1 rows affected.

[(datetime.datetime(2013, 5, 1, 0, 0),)]

* Delete the **emails** that were sent **before the start of production** of the 2013
Lemon Scooter

In [16]:
%%sql
DELETE FROM lemon_emails WHERE sent_date < '2013-05-01';

 * postgresql://postgres:***@localhost/sqlda
3961 rows affected.

[]

* Remove all rows where the sent date occurred after the **sales_transaction_date**
column

In [17]:
%%sql
DELETE FROM lemon_emails WHERE sent_date > sales_transaction_date;

 * postgresql://postgres:***@localhost/sqlda
96637 rows affected.

[]

* Remove all rows where the sent date occurred **more than 30 days before** the **sales_transaction_date** column

In [19]:
%%sql
DELETE FROM lemon_emails WHERE (sales_transaction_date - sent_date) > '30 days';

 * postgresql://postgres:***@localhost/sqlda
27957 rows affected.

[]

* Remove all rows from **lemon_emails** where the email subject is not related to a
Lemon Scooter. Before doing this, we will search for all distinct emails

In [20]:
%%sql
SELECT DISTINCT(email_subject) FROM lemon_emails;

 * postgresql://postgres:***@localhost/sqlda
11 rows affected.

[("Tis' the Season for Savings",),
 ("25% off all EVs. It's a Christmas Miracle!",),
 ('A Brand New Scooter...and Car',),
 ('Like a Bat out of Heaven',),
 ('Save the Planet with some Holiday Savings.',),
 ('Shocking Holiday Savings On Electric Scooters',),
 ('We Really Outdid Ourselves this Year',),
 ('An Electric Car for a New Age',),
 ('We cut you a deal: 20%% off a Blade',),
 ('Black Friday. Green Cars.',),
 ('Zoom Zoom Black Friday Sale',)]

* Delete the email subject not related to the Lemon Scooter

In [22]:
%%sql
DELETE FROM lemon_emails WHERE POSITION('25% off all EVs.' in
email_subject)>0;
DELETE FROM lemon_emails WHERE POSITION('Like a Bat out of Heaven'
in email_subject)>0;
DELETE FROM lemon_emails WHERE POSITION('Save the Planet' in
email_subject)>0;
DELETE FROM lemon_emails WHERE POSITION('An Electric Car' in
email_subject)>0;

 * postgresql://postgres:***@localhost/sqlda
158 rows affected.
314 rows affected.
155 rows affected.
232 rows affected.

[]

In [24]:
%%sql
DELETE FROM lemon_emails WHERE POSITION('We cut you a deal' in email_subject)>0;
DELETE FROM lemon_emails WHERE POSITION('Black Friday. Green Cars.' in email_subject)>0;
DELETE FROM lemon_emails WHERE POSITION('Zoom' in email_subject)>0;

 * postgresql://postgres:***@localhost/sqlda
0 rows affected.
143 rows affected.
74 rows affected.

[]

* Check how many emails of lemon_scooter customers were opened, Lemon Scooter campaign emails opened

In [25]:
%%sql
SELECT COUNT(opened) FROM lemon_emails WHERE opened='t';

 * postgresql://postgres:***@localhost/sqlda
1 rows affected.

[(128,)]

* List the number of customers who received emails and made a purchase, Unique customers who purchased a Lemon Scooter

In [26]:
%%sql
SELECT COUNT(DISTINCT(customer_id)) FROM lemon_emails;

 * postgresql://postgres:***@localhost/sqlda
1 rows affected.

[(506,)]

* Calculate the percentage of customers who opened the received emails and made
a purchase, Lemon Scooter customer email rate

In [28]:
%%sql
SELECT (128.0/506.0)*100 AS email_rate;

 * postgresql://postgres:***@localhost/sqlda
1 rows affected.

[(Decimal('25.29644268774703557300'),)]

* Calculate the number of unique customers who made a purchase

In [29]:
%%sql
SELECT COUNT(DISTINCT(customer_id)) FROM lemon_sales;

 * postgresql://postgres:***@localhost/sqlda
1 rows affected.

[(13854,)]

* Calculate the percentage of customers who made a purchase having received an
email. This will enable a comparison with the corresponding figure for the Bat
Scooter.

In [31]:
%%sql
SELECT (506.0/13854.0)*100 AS email_sales;

 * postgresql://postgres:***@localhost/sqlda
1 rows affected.

[(Decimal('3.65237476541071170800'),)]

* Select all records from lemon_emails where a sale occurred within the first 3
weeks of the start of production. Store the results in a new table **lemon_emails_
threewks**

In [33]:
%%sql
SELECT * INTO lemon_emails_threewks FROM lemon_emails WHERE sales_transaction_date < '2013-06-01';

 * postgresql://postgres:***@localhost/sqlda
0 rows affected.

[]

* Count the number of emails that were made for Lemon Scooters in the first 3
weeks

In [34]:
%%sql
SELECT COUNT(sales_transaction_date) FROM lemon_emails_threewks;

 * postgresql://postgres:***@localhost/sqlda
1 rows affected.

[(0,)]

#### Observations
* There is a lot of interesting information here. We can see that **25%** of customers
who opened an email made a purchase, which is a lot higher than the **18%** figure
for the Bat Scooter. 
* We have also calculated that just over **3.6%** of customers who
purchased a Lemon Scooter were sent an email, which is much lower than the
almost **6%** of Bat Scooter customers. The final interesting piece of information
we can see is that none of the Lemon Scooter customers received an email during
the first 3 weeks of product launch compared with the **82** Bat Scooter customers,
which is approximately **50%** of all customers in the first 3 weeks.